
.nav {padding-bottom:20px;border-bottom: 1px solid #eee;}
.table {border-top: 2px solid #ddd;border-bottom: 2px solid #ddd;}
.modal-footer {margin-top: 25px;}

label.valid {
		  width: 24px;
		  height: 24px;
		  background: url(../img/valid.png) center center no-repeat;
		  display: inline-block;
		  text-indent: -9999px;
		}
		label.error {
			font-weight: bold;
			color: red;
			padding: 2px 8px;
			margin-top: 2px;
		}