<!DOCTYPE html>
<html>
    <?php 
    $admin_head = WROOT . 'view'  . DS . 'admin_head.html';
    @include_once( $admin_head ); 
    ?>


    <body>
        <div class="container">
            <?php 
             $admin_nav = WROOT . 'view'  . DS . 'admin_nav.html';
             @include_once( $admin_nav ); 
             ?>
             <div class="row clearfix" style="margin-top:40px;">
                 <div class="col-md-9 column">
                     <a href="#modal-form" class="btn btn-sm btn-success pull-right" data-toggle="modal" style="margin-bottom:10px;">New Order</a>
                     <table class="table table-hover">
                         <thead>
                             <tr>
                                 <th>
                                     order_no
                                 </th>
                                 <th>
                                     supplier_name
                                 </th>
                                 <th>
                                     order_date
                                 </th>
                                 <th>
                                     item_no
                                 </th>
                                 <th>
                                     item_name
                                 </th>
                                 <th>
                                     receive_qty
                                 </th>
                                 <th>
                                     receive_price
                                 </th>
                                 <th>
                                     sales_man
                                 </th>
                             </tr>
                         </thead>
                         <tbody>
                             <?php if( isset($ords) && is_array( $ords ) ): ?>
                             <?php foreach ($ords as $key => $value): ?>
                             <tr>
                                 <td>
                                     <?=$value['order_no'];?>
                                 </td>
                                 <td>
                                     <a href="#" class="supplier_name" data-type="text" data-pk="<?=$value['order_no'];?>" data-url="?c=admin&a=update_ord" data-title="输入新名称"><?=$value['supplier_name'];?></a>
                                 </td>
                                 <td>
                                     <?=$value['order_date'];?>
                                 </td>
                                 <td>
                                     <?=$value['item_no'];?>
                                 </td>
                                 <td>
                                     <?=$value['item_name'];?>
                                 </td>
                                 <td>
                                     <a href="#" class="receive_qty" data-type="text" data-pk="<?=$value['order_no'];?>" data-url="?c=admin&a=update_ord" data-title="input new qty"><?=$value['receive_qty'];?></a>
                                 </td>
                                 <td>
                                     <a href="#" class="receive_price" data-type="text" data-pk="<?=$value['order_no'];?>" data-url="?c=admin&a=update_ord" data-title="input new price"><?=$value['receive_price'];?></a>
                                 </td>

                                 <td>
                                     <?=$value['sales_man'];?>
                                 </td>

                                 <td>
                                     <a href="?c=admin&a=delete_orders&id=<?=$value['order_no'];?>" class="btn btn-sm btn-danger">删除</a>
                                 </td>
                             </tr>
                             <?php endforeach; ?>
                             <?php endif; ?>
                         </tbody>
                     </table>
                 </div>
                 <?php 
                                                                                                    $admin_sidebar = WROOT . 'view'  . DS . 'admin_sidebar.html';
                                                                                                    @include_once( $admin_sidebar ); 
                                                                                                    ?>
             </div>
             <?php 
                                                                                                    $admin_footer = WROOT . 'view'  . DS . 'admin_footer.html';
                                                                                                    @include_once( $admin_footer ); 
                                                                                                    ?>
        </div>

        <div class="modal fade in" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">New Order</h4>
                    </div>
                    <div class="modal-body" >
                        <form role="form" id="cat-form" action="?c=admin&a=add_orders" method="post" >
                            <div class="form-group">
                                <label for="order_no">order_no</label>
                                <input type="text" class="form-control" id="order_no" name="order_no" placeholder="input order_no" />
                                <label for="supplier_name">supplier_name</label>
                                <input type="text" class="form-control" id="supplier_name" name="supplier_name" placeholder="input supplier_name" />
                                <label for="order_date">order_date</label>
                                <input type="date" class="form-control" id="order_date" name="order_date" placeholder="input order_date" />
                                <label for="item_no">item_no</label>
                                <input type="text" class="form-control" id="item_no" name="item_no" placeholder="input item_no" />
                                <label for="item_name">item_name</label>
                                <input type="text" class="form-control" id="item_name" name="item_name" placeholder="input item_name" />
                                <label for="update_time">receive_qty</label>
                                <input type="text" class="form-control" id="receive_qty" name="receive_qty" placeholder="receive_qty" />
                                <label for="update_time">receive_price</label>
                                <input type="text" class="form-control" id="receive_price" name="receive_price" placeholder="receive_price" />
                                <label for="sales_man_name">sales_man_name</label>
                                <select class="form-control" id="sales_man_name" name="sales_man_name" >
                                    <?php if( isset($salesmann) && is_array( $salesmann ) ): ?>
                                    <?php foreach ($salesmann as $key => $value): ?>
                                    <option value="<?=$value['sales_man_no'];?>" 
                                    <?php if ($value['sales_man_no']==$content[0]['salesmann']): ?>
                                    selected=\"selected\"
                                    <?php endif; ?> >
                                    <?=$value['sales_man_name'];?>
                                    </option>
                                    <?php endforeach; ?>
                                    <?php endif; ?>
                                </select>


                            </div>
                            <button type="submit" class="btn btn-primary pull-right">提 交</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

        <script type="text/javascript" src="static/js/jquery.min.js"></script>
        <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="static/js/scripts.js"></script>
        <script type="text/javascript" src="static/js/jquery.validate.min.js"></script>
        <link href="static/css/bootstrap-editable.css" rel="stylesheet">
        <script type="text/javascript" src="static/js/bootstrap-editable.min.js"></script>
        <script type="text/javascript">
$(document).ready(function(){
    $('.cat_name').editable({
        success: function(response) {
            if (response!='failed') {
                $(this).html(response); 
            }
            else{
                alert(response);
            }
        }
    });
    $('#cat-form').validate({
        rules: {
            catname: {
                minlength: 1,
                required: true
            }
        },
        highlight: function(element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        success: function(element) {
            element.text('OK!').addClass('valid')
                .closest('.form-group').removeClass('has-error').addClass('has-success');
        }
    });
});
        </script>
    </body>
</html>
