<!DOCTYPE html>
<html>
<?php 
	$admin_head = WROOT . 'view'  . DS . 'admin_head.html';
	@include_once( $admin_head ); 
?>

<body>
<div class="container">
	<?php 
		$admin_nav = WROOT . 'view'  . DS . 'admin_nav.html';
		@include_once( $admin_nav ); 
	?>
	<div class="row clearfix" style="margin-top:10px;">
		<div class="col-md-4 column">
		        <h4 class="modal-title" id="myModalLabel">修改密码</h4>
		      <div class="modal-body" >
		      	<form role="form" id="content-form" action="?c=admin&a=save_passwd" method="post" >
				  <div class="form-group">
				    <label for="passwd">新 密 码</label>
				    <input type="password" class="form-control" id="passwd" name="passwd" placeholder="输入新密码" />
				  </div>
				  <a href="javascript:history.back()" class="btn btn-warning">返 回</a>
				  <button type="submit" class="btn btn-primary pull-right">提 交</button>
				</form>
		      </div>
		</div>
	</div>
	<?php 
		$admin_footer = WROOT . 'view'  . DS . 'admin_footer.html';
		@include_once( $admin_footer ); 
	?>
</div>

<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/scripts.js"></script>

</body>
</html>
